@import "Colors";
@import "Gradients";

@mixin background-primary() {
	background-color: $color-primary;
	background: $gradient-primary;
}

@mixin background-secondary() {
	background-color: $color-secondary;
	background: $gradient-secondary;
}

@mixin background-complemental() {
	background-color: $color-complemental;
	background: $gradient-complemental;
}

@mixin background() {
	background-color: $color-background;
	background: $gradient-background;
}

@mixin background-green() {
	background-color: $color-green;
	background: $gradient-green;
}
