@import "Colors";

$shape : circle 100vmax at 25rem 20rem;

$lighting: 10%;

$gradient-primary      : radial-gradient( $shape, lighten( $color-primary      , $lighting ), $color-primary      );
$gradient-secondary    : radial-gradient( $shape, lighten( $color-secondary    , $lighting ), $color-secondary    );
$gradient-complemental : radial-gradient( $shape, lighten( $color-complemental , $lighting ), $color-complemental );
$gradient-background   : radial-gradient( $shape, lighten( $color-background   , $lighting ), $color-background   );

$gradient-green : radial-gradient( $shape, lighten( $color-green, $lighting ), $color-green);
