@import "Colors";

$shadow-inset: 0 0 0.25rem 0 black inset;
$shadow: 0 0 0.3rem 0 black;
$shadow-text: 0 0 0.15em $color-primary;
$shadow-fulltop: 0 1rem 0.3rem 1rem black;
$shadow-fullbottom: 0 -1rem 0.3rem 1rem black;
