@import "Colors";
@import "Gradients";
@import "Shadows";
@import "Fonts";

#app > footer {
    font-size: 0.5rem;
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: right;
    padding: 0.3rem;
    color: $color-primary;
    text-shadow: $shadow-text;
    font-family: $header;
}
