@import "Colors";
@import "Gradients";
@import "Shadows";
@import "Backgrounds";

#app > header {
	@include background-primary;
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    padding-right: 0.2rem;
    box-shadow: $shadow-fullbottom;
    color: $color-secondary;
    z-index: 999;

	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;

	& a {
	    color: inherit;
		text-decoration: none;
		margin: 0 0.5em;
		padding: 0;

		text-shadow: 0 0 0 $color-complemental;
		transition: all 0.5s;

		&:hover {
			color: $color-complemental;
			transition: all 0.5s;
			text-shadow: 0 0 0.3em $color-complemental;
		}

		& > img {
			width: 1em;
			height: 1em;
			margin: 0;
			box-shadow: 0 0 0 0 $color-complemental;
			transition: all 0.5s;

			&:hover {
				box-shadow: 0 0 0.3em 0 $color-complemental;
				transition: all 0.5s;
			}
		}
	}
}
