@import "Colors";
@import "Backgrounds";
@import "Shadows";

button {
	color: $color-primary;
	position: relative;
	border: 0;
	border-radius: 0.2em;
	box-shadow: $shadow;

	&.green {
		@include background-green;
	}
}
