@import "Colors";
@import "Backgrounds";
@import "Shadows";

select {
	@include background-primary;
	color: $color-background;
	position: relative;
	border: 0;
	border-radius: 0.2em;
	box-shadow: $shadow;

	& option {
		background-color: $color-primary;
	}
}
