@import "Gradients";
@import "Shadows";
@import "Backgrounds";

.grid-section > .content {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}

.grid-section > .content > .preview {
	@include background;
	display: table-cell;
	box-shadow: $shadow-inset;
}
