@import "Colors";
@import "Gradients";
@import "Fonts";
@import "Backgrounds";

input[type=text], input[type=number] {
	@include background;
    border-style: dashed;
    border-color: $color-primary;
    border-radius: 0.2rem;
    border-width: 0;
    border-bottom-width: 0.15em;

    box-shadow: 0 0 0.3em 0 white;

    font-family: inherit;

    font-size: 1em;
    color: $color-primary;
}

input.full-width {
    margin: 0;
    width: 100%;
}

.input {
	margin: auto;
	display: inline-block;
	white-space: nowrap;

	& > * {
		margin: 0.5em;
		display: inline;
	}
}
