@import "Gradients";
@import "Shadows";
@import "Fonts";
@import "Backgrounds";

main {
    width: 40rem;
    max-width: 100vw;
    margin: 0 auto 0 auto;
    padding-bottom: 3rem;
}

main > article,
main > article > section
{
    margin-top: 2rem;
}

main > article > header,
main > article > section {
    width: 100%;
    border-radius: 0.1rem;
    box-shadow: $shadow;
}

main > article > header,
main > article > section > header {
	@include background-secondary;
    font-family: $header;
    color: $color-primary;
    text-shadow: 0 0 0.2rem $color-primary;
    padding: 0.2em;
}

main > article > section {
	@include background;
    padding: 0.5rem 1.5rem 1.5rem 1.5rem;

    color: $color-primary;

    font-size: 1rem;
    font-family: $paragraph;
    text-align: justify;
    hyphens: auto;
    text-shadow: 0 0 0.1em $color-background;
}

main > article > header {
    font-size: 1.5em;
    text-align: center;

	& > button {
		position: absolute;
		right: 0.2em;
		top: 0;
		font-size: 0.9em;
		padding: 0;
		margin: 0;
	}
}

main > article > section > header {
    border-radius: 0.1rem;
    width: calc(100% + 3rem + 4px);
    max-width: calc(100vw + 2px);
    margin-left: calc(-1.5rem - 2px);
    margin-bottom: 1rem;
    padding-left: 1rem;
    font-size: 1.2em;
    box-shadow: $shadow;
}
