@import "Gradients";
@import "Backgrounds";

* {
    position: relative;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-position: top left !important;
    background-attachment: fixed !important;
    outline: none !important;
}

:root, body, #app, #appContainer {
    margin:0;
    padding: 0;
    min-width: 100%;
    min-height: 100vh;
    font-size: 20px;
}

:root {
    @include background-complemental;
}

.hidden {
    opacity: 0;
}
