@import "Shadows";
@import "Fonts";

.search-header {
	& > details {
		width: 100%;
	    font-size: 0.5em;
		display: flex;

		& > summary {
			width: 100%;
		    cursor: pointer;
			padding: 1em;
		}

		& > * {
		    font-size: 0.7em;
		}
	}

	& input {
		border: 0;
		box-shadow: $shadow-inset;
		padding: 0.2em 0.5em;
		font-family: $header;
	}

	& > input {
		font-size: 0.5em;
	}

	& > a {
	    color: inherit;
		text-decoration: none;

		text-shadow: 0 0 0 $color-complemental;
		transition: all 0.5s;
		position: absolute;
		right: 0.2em;
		top: 0;
		font-size: 0.9em;
		padding: 0;
		margin: 0;

		&:hover {
			color: $color-complemental;
			transition: all 0.5s;
			text-shadow: 0 0 0.3em $color-complemental;
		}
	}
}
